@import "tailwindcss";

:root {
  color-scheme: light;

  --bg-page: white;
  --bg-navbar: #f3f4f6;
  --bg-card: white;

  --text-primary: #1f2937;
  --text-secondary: #4b5563;

  --accent: #3b82f6;
}

html.light {
  --bg-page: white;
  --bg-navbar: #f3f4f6;
  --bg-card: white;

  --text-primary: #1f2937;
  --text-secondary: #4b5563;

  --accent: #3b82f6;
}

html.dark {
  --bg-page: #111827;
  --bg-navbar: #1f2937;
  --bg-card: #1f2937;

  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;

  --accent: #8b5cf6;
}

html.pink {
  --bg-page: #ffe4ef;
  --bg-navbar: #ffbcd4;
  --bg-card: white;

  --text-primary: #831843;
  --text-secondary: #9d174d;

  --accent: #db2777;
}

html.red {
  --bg-page: #923434;
  --bg-navbar: #6f2424;
  --bg-card: #a54a4a;

  --text-primary: #fcecee;
  --text-secondary: #fad8d8;

  --accent: #ef4444;
}

html.ukraine {
  --bg-page: #ffe96a;
  --bg-navbar: #0057b7;
  --bg-card: #fff1a8;

  --text-primary: #000;
  --text-secondary: #222;

  --accent: #0057b7;
}

html.dracula {
  --bg-page: #282a36;
  --bg-navbar: #44475a;
  --bg-card: #343746;

  --text-primary: #f8f8f2;
  --text-secondary: #bd93f9;

  --accent: #ff79c6;
}

/* SELECT */
select {
  background: var(--bg);
  color: var(--fg);
  border-color: var(--fg);
}

/* OPTION */
option {
  background: var(--bg) !important;
  color: var(--fg) !important;
}

/* Для Firefox (бо він любить робити своє) */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--fg);
}

body {
  background: var(--bg-page);
  color: var(--text-primary);
}

nav {
  background: var(--bg-navbar);
  color: var(--text-primary);
}

.card {
  background: var(--bg-card);
  color: var(--text-primary);
}

button {
  background: var(--accent);
  color: white;
}