@import "tailwindcss";

:root {
  color-scheme: light;
  /* color-scheme: light dark; */
}

html.light {
  --bg: white;
  --fg: #1f2937;
}

html.dark {
  --bg: #111827;
  --fg: #f3f4f6;
}

html.pink {
  --bg: #ffe4ef;
  --fg: #831843;
}

html.red {
  --bg: #923434;
  --fg: #d7c4c4;
}

html.ukraine {
  --bg: #a7a12a;
  --fg: #ffffff;
}

html.dracula {
  --bg: #342e41;
  --fg: #8039d1;
}